body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* text-----------------*/
h2 {
    font-size: 3.5em;
    font-weight: 300;
}

.content {
    font-size: 1.5em;
    font-weight: 300;
}

.text {
  text-align: left;
  margin-bottom: 20px;
  text-decoration: none;
}

/*navigtion bar*/
$flyoung_red: rgba(255, 86, 86, .95);

header {
  background-color: white;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav {
  position: absolute;
  background-color: white;
  width: 100%;
  text-align: left;
  top: 100%;
  left: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 300ms ease-in-out;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 120ms ease-in-out;
  }

  .container {
      margin: 0 auto;
      padding: 0;
  }
}



/* nav-toggle */
.nav-toggle {display: none;}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
  a{
    opacity: 1;
    transition: opacity 150ms ease-in-out 180ms;
  }
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

%nav-toggle-label-span {
  display: block;
  background: $flyoung_red;
  height: 2px;
  width: 2em;
  border-radius: 2px;
}

%nav-toggle-label-span-before_after {
  content: '';
  position: absolute;
}

.nav-toggle-label span {
  @extend %nav-toggle-label-span;
}

.nav-toggle-label span::before {
  @extend %nav-toggle-label-span;
  @extend %nav-toggle-label-span-before_after;
  top: 32px
}

.nav-toggle-label span::after {
  @extend %nav-toggle-label-span;
  @extend %nav-toggle-label-span-before_after;
  bottom: 32px;
}

@media only screen and (max-width: 768px) {
  nav h1 {display: none;}
}

@media only screen and (min-width: 768px) {
  .nav-toggle-label {display: none;}
  header > h1 {display: none;}
  nav {
    transform: scale(1, 1);
    a {opacity: 1;}
    .container {
      h1 {
        margin: 0;
        padding: 1rem;
      }
      ul {
        display: flex;
        text-decoration: none;
      }
      li {
        padding: 0;
        margin: 0 1rem 0 1rem;
        text-align: center;
        align-items: center;
        display: flex;
        position: relative;
      }

      a::after {
        content: '';
        display: block;
        height: 5px;
        width: 0%;
        background-color: $flyoung_red;
        position: absolute;
        bottom: 0;
      }

      a:hover::after {
        width: 100%;
        transition: all ease-out 150ms;
      }
    }
  }
}

/* container-------------------*/
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 32px;
  align-items: center;
}

.block, .image-left, .image-right{
  width: 100%;
}


img {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .container {display: flex;}
  .block {width: 60%;}
  .image-left {
    margin-right: 64px;
    width: 40%;
  }
  .image-right {
    width: 40%;
    margin-left: 64px;
    order: 1;
    -webkit-order: 1; /* Safari 6.1+ */
  }
}

/* parallax--------------*/
.parallax {
  height: 560px;
  background-image: url('img/index/hand_black_copy.png');
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
}
