body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

/* footer ----------*/
footer {
  background-color: #f2f2f2; }
  footer .container {
    align-items: stretch; }
  footer .block {
    margin: 0 2em; }

/* text-----------------*/
h2 {
  font-size: 3.5em;
  font-weight: 300; }

h3 {
  font-weight: 400;
  margin-bottom: .3em; }

h4 {
  font-weight: 300;
  padding: 0;
  margin: 0;
  margin-bottom: 2em; }

a {
  color: #d00000; }

a:hover {
  opacity: 0.7; }

.xl {
  margin-bottom: .5em;
  font-family: 'Roboto Slab', serif;
  font-size: 12vh; }
  .xl img {
    height: 2em; }
  .xl span {
    font-size: 1.333em; }

@media only screen and (max-width: 768px) {
  .xl {
    font-size: 12vw; } }

.content {
  font-size: 1.5em;
  font-weight: 300; }

.text, .text-bright {
  text-align: left;
  margin-bottom: 20px;
  text-decoration: none; }

.text-bright {
  color: white; }

#logo img {
  height: 2rem; }

.privacy_terms a {
  text-decoration: none;
  color: gray; }

.copyright {
  text-align: center;
  color: gray;
  padding: 0;
  margin: 1em auto; }

/*font font-awesome-4.7 icon */
.fa {
  padding: .3em;
  width: 1em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%; }

.fa-facebook {
  background: #3B5998;
  color: white; }

.fa-youtube-play {
  background: #bb0000;
  color: white; }

/*navigtion bar*/
header {
  background-color: white;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }

nav {
  position: absolute;
  background-color: white;
  width: 100%;
  text-align: left;
  top: 100%;
  left: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 300ms ease-in-out; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  nav li {
    margin-bottom: 1em;
    margin-left: 1em; }
    nav li a {
      color: gray;
      text-decoration: none;
      font-size: 1.2rem;
      opacity: 0;
      transition: opacity 120ms ease-in-out; }
  nav .container {
    margin: 0 auto;
    padding: 0; }

/* nav-toggle */
.nav-toggle {
  display: none; }

.nav-toggle:checked ~ nav {
  transform: scale(1, 1); }
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 150ms ease-in-out 180ms; }

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center; }

.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
  display: block;
  background: #d00000;
  height: 2px;
  width: 2em;
  border-radius: 2px; }

.nav-toggle-label span::before, .nav-toggle-label span::after {
  content: '';
  position: absolute; }

.nav-toggle-label span::before {
  top: 32px; }

.nav-toggle-label span::after {
  bottom: 32px; }

@media only screen and (max-width: 768px) {
  nav h1 {
    display: none; } }

@media only screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none; }
  header > h1 {
    display: none; }
  nav {
    transform: scale(1, 1); }
    nav .container {
      align-items: stretch;
      border-bottom: 1px solid #d1d1d1; }
      nav .container h1 {
        margin: 0;
        padding: 1rem; }
      nav .container ul {
        display: flex;
        text-decoration: none; }
      nav .container li {
        padding: 0;
        margin: 0 1rem 0 1rem;
        text-align: center;
        align-items: center;
        display: flex;
        position: relative; }
        nav .container li a {
          opacity: 1; }
        nav .container li a:hover {
          color: black; }
        nav .container li a::after {
          content: '';
          display: block;
          height: 5px;
          width: 0%;
          background-color: #d00000;
          position: absolute;
          bottom: 0; }
        nav .container li a:hover::after {
          width: 100%;
          transition: all ease-out 150ms; } }

/* container-------------------*/
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 32px;
  align-items: center; }

.h-full {
  height: 100vh; }

.flex {
  display: flex; }

.block, .image-left, .image-right {
  width: 100%; }

img {
  max-width: 100%;
  height: auto; }

@media only screen and (min-width: 768px) {
  .container {
    display: flex; }
  .block {
    width: 50%; }
  .image-left {
    margin-right: 64px; }
  .image-right {
    margin-left: 64px;
    order: 1;
    -webkit-order: 1;
    /* Safari 6.1+ */ } }

/* parallax--------------*/
.parallax {
  height: 100vh;
  background-image: url("img/index/hand_black_copy.png");
  background-position: right;
  background-attachment: fixed;
  background-size: cover; }
