@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
.general-heading {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  .general-heading_header {
    font-size: 52px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
  }
  .general-heading_sub {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .general-heading_line {
    background-color: #d00000;
    height: 4px;
    line-height: 0;
    margin: 20px auto 0;
    width: 48px;
  }
}

.heading-indented {
  font-family: 'Lato', sans-serif;
  text-align: left;

  .heading-indented_header {
    font-weight: 900;
    font-size: 2em;
    letter-spacing: 3px;
  }
  .heading-indented_header::before {
    background-color: #d00000;
    content: '';
    display: inline-block;
    height: .8em;
    width: 6px;
    margin-right: 20px;
    position: relative;
    top: 1px;
  }
  .heading-indented_text {
    font-size: 24px;
    font-family: 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
  }
}
