@import url("https://fonts.googleapis.com/css?family=Lato:400,900");
.general-heading {
  font-family: 'Lato', 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
  text-align: center;
  margin: 0; }
  .general-heading .general-heading_header {
    font-size: 52px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
    text-transform: capitalize; }
  .general-heading .general-heading_sub {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px; }
  .general-heading .general-heading_line {
    background-color: #d00000;
    height: 4px;
    line-height: 0;
    margin: 20px auto 0;
    width: 48px; }

.heading-indented {
  font-family: 'Lato', 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
  text-align: left; }
  .heading-indented .heading-indented_header {
    font-weight: 900;
    font-size: 2em;
    letter-spacing: 3px;
    text-transform: capitalize; }
  .heading-indented .heading-indented_bar::before {
    background-color: #d00000;
    content: '';
    display: inline-block;
    height: .8em;
    width: 6px;
    margin-right: 20px;
    position: relative;
    top: 1px; }
  .heading-indented .heading-indented_text {
    font-size: 21px;
    font-family: 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif; }
