/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/
/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }
$flyoung_red: rgb(208, 0, 0);

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
  font-weight: 400;
}

/* footer ----------*/
footer {
  background-color: #f2f2f2;
  p {
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
    color: gray;
    a {
      text-decoration: none;
      color: gray;
    }
  }
  .fab {
    font-size: 1.5em;
  }
}

/* text-----------------*/
h2 {
    font-size: 3.5em;
    font-weight: 300;
}

h3 {
  font-weight: 400;
  margin-bottom: .3em;
}

h4 {
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
  color: gray;
}

a {color: $flyoung_red;}
a:hover {opacity: 0.7;}

@media only screen and (max-width: 767.98px) {
  .xl {
    font-size: 12vw;
  }
}

.light {
  color: black;
}

.dark {
  color: white;
  text-shadow: 0 2px 2px black;
}

.logo-sm {
  margin: 0.5rem 0;
  padding-left: 0;
  img {
    height: 26px;
  }
}

.logo-md {
  padding-left: 0;
  img {
    width: 50%;
  }
}

.copyright {
  text-align: center;
  color: gray;
  margin: 0;
  padding: 0 0 3em;
  font-weight: 300;
  font-size: .8em;
}

/*font font-awesome-4.7 icon */

.fa-facebook {
  color: #3B5998;
}

.fa-youtube {
  color: #ff0000;
}

/*navigtion bar*/
header {
  background-color: white;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav {
  position: absolute;
  background-color: white;
  width: 100%;
  text-align: left;
  top: 100%;
  left: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: all 0.5s ease;
  h1 {
    a {
      vertical-align: -6px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 1em;
    margin-left: 1em;
    a {
      color: gray;
      text-decoration: none;
      font-size: 16px;
      opacity: 0;
      transition: opacity 120ms ease-in-out;
    }
  }

  .container {
      margin: 0 auto;
      padding-top: 0;
      padding-bottom: 0;
  }
}

@media only screen and (max-width: 767.98px) {
  nav {
    .container{
      padding: 0;
      li{
        margin: 0;
        border-bottom: 1px solid #eee;
        a{
          display: block;
          padding: 16px 32px;
        }
      }
    }
  }
}

.nav_white {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
  li {
    a {
      color: #515151 !important;
    }
    a:hover {color: black !important;}
  }
  transition: all 0.5s ease;
}

/* nav-toggle */
.nav-toggle {display: none;}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
  a{
    opacity: 1;
    transition: opacity 150ms ease-in-out 180ms;
  }
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

%nav-toggle-label-span {
  display: block;
  background: $flyoung_red;
  height: 2px;
  width: 1.6em;
  border-radius: 2px;
}

%nav-toggle-label-span-before_after {
  content: '';
  position: absolute;
}

.nav-toggle-label span {
  @extend %nav-toggle-label-span;
}

.nav-toggle-label span::before {
  @extend %nav-toggle-label-span;
  @extend %nav-toggle-label-span-before_after;
  top: 20px
}

.nav-toggle-label span::after {
  @extend %nav-toggle-label-span;
  @extend %nav-toggle-label-span-before_after;
  bottom: 20px;
}

@media only screen and (max-width: 767.98px) {
  nav {
    transition: transform 300ms ease-in-out;
    h1 {display: none;}
  }
}

@media only screen and (min-width: 768px) {
  .nav-toggle-label {display: none;}
  header > h1 {display: none;}
  nav {
    background-color: transparent;
    transform: scale(1, 1);
    .container {
      align-items: stretch;
      h1 {
        margin: 0;
        padding: 0.5rem;
      }
      ul {
        display: flex;
        text-decoration: none;
      }
      li {
        padding: 0;
        margin: 0 1rem;
        text-align: center;
        align-items: center;
        display: flex;
        position: relative;
        a {
          opacity: 1;
          color: white;
        }
        a:hover {color: #e5e5e5;}
        a::after {
          content: '';
          display: block;
          height: 5px;
          width: 0%;
          background-color: $flyoung_red;
          position: absolute;
          bottom: 0;
        }

        a:hover::after {
          width: 100%;
          transition: all ease-out 150ms;
        }
      }
    }
  }
}

/* container-------------------*/
.container {
  padding-bottom: 12px;
  padding-top: 72px;
  align-items: center;
}

[class*="col-"], .col {
  margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
  nav {
    .container {display: flex;}
  }
}

/* parallax--------------*/
.parallax {
  height: 100vh;
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
}

.vertical-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal-middle {
  text-align: center;
}

.btn {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3px;
  padding: 20px;
  margin: 20px 0;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-color: #d00000;
}

.img-frame {
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
  }
  .btn {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#who-we-are {
  background-color: #f3f3f3;
}

#where-we-work {
  background-color: #fafafa;
}
