/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/
/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
/*@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }*/
$flyoung_red: rgb(208, 0, 0);

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
  font-weight: 400;
}

/* footer ----------*/
footer {
  background-color: #f2f2f2;
  .container {
    align-items: stretch;
  }
  .block {
    margin: 0 2em;
  }
}

/* text-----------------*/
h2 {
    font-size: 3.5em;
    font-weight: 300;
}

h3 {
  font-weight: 400;
  margin-bottom: .3em;
}

h4 {
  font-weight: 300;
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
}

a {color: $flyoung_red;}
a:hover {opacity: 0.7;}

.xl {
  margin-bottom: .5em;
  font-family: 'Roboto Slab', serif;
  font-size: 12vh;
  img {
    height: 2em;
  }
  span {
    font-size: 1.333em;
  }
}

@media only screen and (max-width: 768px) {
  .xl {
    font-size: 12vw;
  }
}

.content {
    font-size: 1.5em;
    font-weight: 300;
}

.text {
  text-align: left;
  margin-bottom: 20px;
  text-decoration: none;
}

.text-bright {
  @extend .text;
  color: white;
}

#logo {
  margin: 0.5rem 0;
  padding-left: 0;

  img {
    height: 26px;
  }
}

.privacy_terms {
  a {
    text-decoration: none;
    color: gray;
  }
}

.copyright {
  text-align: center;
  color: gray;
  margin: 0;
  padding: 0 0 3em;
  font-weight: 300;
  font-size: .8em;
}

/*font font-awesome-4.7 icon */
.fa {
    padding: .3em;
    width: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube-play {
  background: #bb0000;
  color: white;
}

/*navigtion bar*/
header {
  background-color: white;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav {
  position: absolute;
  background-color: white;
  width: 100%;
  text-align: left;
  top: 100%;
  left: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: all 0.5s ease;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 1em;
    margin-left: 1em;
    a {
      color: gray;
      text-decoration: none;
      font-size: 16px;
      opacity: 0;
      transition: opacity 120ms ease-in-out;
    }
  }

  .container {
      margin: 0 auto;
      padding-top: 0;
      padding-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    .container{
      padding: 0;
      li{
        margin: 0;
        border-bottom: 1px solid #eee;
        a{
          display: block;
          padding: 16px 32px;
        }
      }
    }
  }
}

.nav_white {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
  li {
    a {
      color: #515151 !important;
    }
    a:hover {color: black !important;}
  }
  transition: all 0.5s ease;
}

/* nav-toggle */
.nav-toggle {display: none;}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
  a{
    opacity: 1;
    transition: opacity 150ms ease-in-out 180ms;
  }
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

%nav-toggle-label-span {
  display: block;
  background: $flyoung_red;
  height: 2px;
  width: 1.6em;
  border-radius: 2px;
}

%nav-toggle-label-span-before_after {
  content: '';
  position: absolute;
}

.nav-toggle-label span {
  @extend %nav-toggle-label-span;
}

.nav-toggle-label span::before {
  @extend %nav-toggle-label-span;
  @extend %nav-toggle-label-span-before_after;
  top: 20px
}

.nav-toggle-label span::after {
  @extend %nav-toggle-label-span;
  @extend %nav-toggle-label-span-before_after;
  bottom: 20px;
}

@media only screen and (max-width: 768px) {
  nav {
    transition: transform 300ms ease-in-out;
    h1 {display: none;}
  }
}

@media only screen and (min-width: 768px) {
  .nav-toggle-label {display: none;}
  header > h1 {display: none;}
  nav {
    background-color: transparent;
    transform: scale(1, 1);
    .container {
      align-items: stretch;
      h1 {
        margin: 0;
        padding: 0.5rem;
      }
      ul {
        display: flex;
        text-decoration: none;
      }
      li {
        padding: 0;
        margin: 0 1rem;
        text-align: center;
        align-items: center;
        display: flex;
        position: relative;
        a {
          opacity: 1;
          color: white;
        }
        a:hover {color: #e5e5e5;}
        a::after {
          content: '';
          display: block;
          height: 5px;
          width: 0%;
          background-color: $flyoung_red;
          position: absolute;
          bottom: 0;
        }

        a:hover::after {
          width: 100%;
          transition: all ease-out 150ms;
        }
      }
    }
  }
}

/* container-------------------*/
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 32px;
  align-items: center;
}

.h-full {
  height: 100vh;
}

.flex {
  display: flex;
}

.block, .image-left, .image-right{
  width: 100%;
}


img {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .container {display: flex;}
  .block {width: 50%;}
  .image-left {
    margin-right: 64px;
  }
  .image-right {
    margin-left: 64px;
    order: 1;
    -webkit-order: 1; /* Safari 6.1+ */
  }
}

/* parallax--------------*/
.parallax {
  height: 100vh;
  background-image: url('../img/index/hand_black_copy.png');
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
}
