---
title: 國際醫療服務研習營 - 飛洋
path: /events/tmu-international-volunteer-class
speakers:
  - name: 鄭凱元 醫師
    eng_name: ChengKaiYuan
    infos:
    - 臺灣醫學生聯合會前會長
    - 第69、70、71屆世界衛生大會與會代表
    - 62屆世界衛生組織西太平洋區域會議世界醫學生聯盟代表
    - 倫敦大學學院　精神醫學研究所博士候選人
    - 倫敦國王學院　精神醫學心理學與神經科學研究所碩士
    - 陽明大學醫學士
  - name: 林元薇 專員
    eng_name: LinYuanWay
    infos:
    - 嘉義基督教醫院國際醫療援助計畫辦公室主任
    - 前北醫駐史瓦帝尼醫療團國際醫療專員
    - 波士頓大學　公共衛生碩士
    - 臺北醫學大學　公共衛生學士
  - name: 卓浩右 研究員
    eng_name: JoHowYo
    infos:
    - 常駐美墨邊境工廠人類學研究員
    - 美國德州農工大學人類學博士候選人
    - 台灣大學人類學碩士
  - name: 許紘捷 講師
    eng_name: Hank
    infos:
    - 常駐柬埔寨影像工作者
    - Symbodia柬式符號創辦人
  - name: 王文生 理事長
    eng_name: WangWenSen
    infos:
    - 台飛國際志工交流協會理事長
    - 清華大學肯亞國際志工團領隊
    - 清華大學獅子山國際志工團團員
    - 清華大學物理學士
    
  - name: 王詩菱　企劃經理
    eng_name: WangShuLing
    infos:
    - Glocal Action 公益協會企畫經理
    - 常駐泰緬邊境社區工作者
---
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="{{ page.path }}/assets/css/main.css">
<link rel="stylesheet" href="{{ page.path }}/assets/css/general-heading.css">    
<div id="a" class="parallax vertical-middle dark">
  <div class="container">
    <div class="row">
      <div class="col horizontal-middle">
        <h3>臺北醫學大學</h3>
        <h1>國際醫療服務研習營</h1>
      </div>
    </div>
  </div>
</div>

<div id="b" class="vertical-middle">
  <div class="container">
    <div class="row">
      <div class="col">
          <span style="font-size:2.5em;">你/妳</span>是否對於國際服務充滿熱忱卻不知從何下手？或是曾經接觸了國際服務，想對衛生領域有更深入的了解與討論？
      </div>
    </div>
  </div>
</div>

<div id="c" class="vertical-middle">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md vertical-middle horizontal-middle" >
        <img src="{{ page.path }}/assets/img/tmu_logo.png" alt="tmu_logo">
      </div>
      <div class="col-12 col-md">
        國際醫療服務研習營集結跨領域、具豐富田野經驗之講師，與臺北醫學大學海外醫療服務隊合作，針對國際性衛生問題，從臨床醫學、公共衛生學、管理學、外交與人文社會等面向，窺探國際服務的樣貌！
      </div>
    </div>
  </div>
</div>

<div id="speakers">
  <div class="container">

        <h4 class="horizontal-middle">特邀講者</h4>
        <div class="container">
          <div class="row">
          {% for speaker in page.speakers %}
            <div class="col col-md-6 profile">
              <div class="profile-pic">
                  <img src="{{ page.path }}/assets/img/speakers/{{ speaker.eng_name }}.png" alt="{{ speaker.eng_name }}">
              </div>
              <div>
                <h4>{{ speaker.name }}</h4>
                <ul>
                  {% for info in speaker.infos %}
                  <li>{{ info }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>

  </div>
</div>

<div id="course_info">
  <div class="container">
      <div class="row">
        <div class="col">
          <h4 class="horizontal-middle">課程資訊</h4>

          <div class="container card mb-3">
            <div class="row vertical-middle">
              <div class="col-12 col-md-4 horizontal-middle">
                <h5>課程內容</h5>
              </div>
              <div class="col-12 col-md-8">
                <div>針對國際性醫療衛生現況與問題，從臨床研究到社會人文等跨領域面向，帶領學員分析討論、獨立思考，打開未來參與國際服務、連結世界議題的視野！</div>
              </div>
            </div>
          </div>
          <div class="container card mb-3">
            <div class="row">
              <div class="col">
                <div>時間表</div>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">5月18日(週六)</th>
                        <th scope="col">講師</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">8:30-9:00</th>
                        <td>報到</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">9:00-9:30</th>
                        <td>開場</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">9:30-10:30</th>
                        <td>全球衛生與外交：<br>
                            臺灣醫療外交實況</td>
                        <td>鄭凱元醫師</td>
                      </tr>
                      <tr>
                        <th scope="row">10:30-11:00</th>
                        <td>問題討論</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">11:00-12:00</th>
                        <td>運籌帷幄：<br>
                            專案「管理」,
                            成功的國際服務骨架</td>
                        <td>林元薇主任</td>
                      </tr>
                      <tr>
                        <th scope="row">12:00-12:30</th>
                        <td>問題討論</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">12:30-13:00</th>
                        <td>午餐</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">13:00-15:30</th>
                        <td>不一樣的視界：<br>
                            跨文化論壇</td>
                        <td>卓浩右研究員、<br>
                            許紘捷講師、<br>
                            王文生理事長</td>
                      </tr>
                      <tr>
                        <th scope="row">15:30-16:00</th>
                        <td>問題討論</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">16:00-17:00</th>
                        <td>思辨：<br>
                            國際醫療服務中的人權議題</td>
                        <td>王詩菱企劃經理</td>
                      </tr>
                      <tr>
                        <th scope="row">17:00-17:30</th>
                        <td>問題討論</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">17:30-18:00</th>
                        <td>結業</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="container card mb-3">
            <div class="row vertical-middle">
              <div class="col-12 col-md-4 horizontal-middle">
                <i class="far fa-user-circle fa-4x"></i>
              </div>
              <div class="col-12 col-md-8">
                <h5>招生對象</h5>
                <ul>
                  <li>大專院校學生及社會人士</li>
                  <li>對國際服務有興趣</li>
                  <li>並希望於未來參與服務者</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="container card mb-3" style="font-size: .8em;">
            <div class="row">
              <div class="col-12 col-md">
                <div class="row vertical-middle">
                  <div class="col horizontal-right"><i class="far fa-calendar-alt fa-3x"></i></div>
                  <div class="col">2019年 5月 18日 (六)<br>08:30-18:00</div>
                </div>
              </div>
              <div class="col-12 col-md">
                <div class="row vertical-middle">
                  <div class="col horizontal-right"><i class="fas fa-map-marker-alt fa-3x"></i></div>
                  <div class="col">台北醫學大學<br>2301教室</div>
                </div>
              </div>
              <div class="col-12 col-md">
                  <div class="row vertical-middle">
                    <div class="col horizontal-right"><i class="fas fa-dollar-sign fa-3x"></i></div>
                    <div class="col">每人新台幣200元</div>
                  </div>
                </div>
            </div>
          </div>


        </div>
      </div>
    </div>
</div>

<div id="join-us">
  <div class="container">
    <div class="row">
      <div class="col dark horizontal-middle">
        這或許是你踏向國際服務的第一步，勇敢的挑戰自己吧！
      </div>
    </div>
    <div class="row">
      <div class="col horizontal-middle">
        <a href="https://forms.gle/TdDqzRUjRgqrop468" class="btn btn-yellow" data-toggle="button">我要報名</a>
      </div>
    </div>
  </div>
</div>

<div class="organizer horizontal-middle">
  <div class="container">
    <div class="row">
        <div class="col">
          <h6>主辦單位</h6>
          <div class="row">
            <div class="col"><img src="{{ page.path }}/assets/img/tmu_logo.png" alt=""></div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <h6>承辦單位</h6>
          <div class="row">
            <div class="col">臺北醫學大學課外活動指導組</div>
          </div>
        </div>
    </div>
    <a href="/events/" class="btn">查看「最新活動」</a>
    <hr>
</div>