---
---
/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/
/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
*/
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }
/*
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
*/
$flyoung_red: rgb(208, 0, 0);
html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 1.75;
  
  /*sticky footer*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* general align */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* footer ----------*/
footer {
  background-color: #f2f2f2;
  font-size: 14px;
  p {
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
    color: #565656;
    a {
      text-decoration: none;
      color: #565656;
    }
    a:hover {
      color: #565656;
    }
  }
  .fab {
    font-size: 1.5em;
  }
}
.content {
  flex: 1; /*sticky footer*/
}
/* text-----------------*/
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h2 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
h3 {
  font-weight: 400;
}
h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;

  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
  color: #565656;
}
h6 {
  font-weight: 400;
  margin-bottom: .3em;  
}

a {color: $flyoung_red;}
a:hover {
  text-decoration-line: none;
  opacity: 0.7;
}

.light {
  color: black;
}

.dark {
  color: white;
  text-shadow: 0 3px 16px #000000b3;
}

.logo-sm {
  margin: 0.5rem 0;
  padding-left: 0;
  img {
    height: 26px;
  }
}

.logo-md {
  padding-left: 0;
  img {
    width: 50%;
  }
}

.copyright {
  text-align: center;
  color: #565656;
  margin: 0;
  padding: 0 0 3em;
  font-weight: 300;
  font-size: 12px;
}


/* widget elements */
.new {
  div {
    font-size: 18px;
    letter-spacing: .3em;
    width: 66px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: $flyoung_red;
  }
}


/* font awesome */
[class*="fa-"] {
  margin-right: 16px;
}

/*font font-awesome-4.7 icon */

.fa-facebook {
  color: #3B5998;
}
.fa-facebook:hover {
  color: #3B5998;
}


/* grid system-------------------*/
.container {
  padding-top: 48px;
  align-items: center;
}
/*
@media only screen and (max-width: 768px) {
  .container {
    margin-left: 14px !important;
    margin-right: 14px !important;
  }
}
*/

[class*="col-"], .col {
  margin-bottom: 1em;
}

.row {
  padding-bottom: 36px;
}


/* the block at the top of the page*/
.top-block {
  padding-top: 60px;
  padding-bottom: 60px;
}

.parallax {
  height: 100vh;
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
}

.vertical-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-baseline {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.horizontal-middle {
  text-align: center;
}

.horizontal-right {
  text-align: right;
}

.btn {
  font-family: 'Lato', 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 3px;
  padding: 18px;
  margin: 20px 0;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  transition: none;
  border-radius: 0%;
  color: white;
  background-color: #d00000;
}
.btn:hover {
  color: white;
  opacity: 1; /* overwrite <a> property */
  background-color: #ba0000;
}

.btn-yellow {
  color: black;
  background-color: rgb(251, 188, 5);
}
.btn-yellow:hover {
  color: black;
  background-color: rgb(202, 152, 1);
}

.link-underline {
  font-weight: 400;
  font-size: 1.2em;
  text-decoration: none;
  background-image: linear-gradient(#d00000 100%, #d00000 100%);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0;
  border-bottom: 2px solid #d00000;
  color: black;
  transition: background-size .100s ease-in;
}

.link-underline:hover {
  background-size: 100% 20%;
}

.full-width {
  width:100vw;
  margin-bottom:48px;
}
@media only screen and (max-width: 767.98px){
  .full-width {
    img{
      height: 50vh;
      width: auto;
    }
  }
}

.org-structure {
  max-width: 100%;
  max-height: 50vh;
}

.gallery {
  height: 100%;
  background-color: #d00000;
  background-clip: content-box; /*background a div without the padding area*/
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  a {
    display: block;
    height: 100%;
  }
  a:hover {
    opacity: 1;
  }
  img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: none;
  }
  /*description*/
  .desc {
    background-color: #d00000;
    color: white;
    padding: 0.75em;
    font-weight: 400;
  }
}
.gallery:hover {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.gallery-lg {
  margin: 0 16px;
  .row {
    padding: 0;
  }
  [class*="col-"], .col {
    padding: 0;
    margin: 0;
  }
  img {
    display: block;
  }
}

.floating-block {
  background-color: #f3f3f3;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.2);
}

.contact {
  [class*="fa-"] {
    color: #d00000;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    color: #d00000;
  }
}

/*-journal index page-*/
.journal-widget-img {
  /*width: calc(100% + 40px) !important;*/
  width:100%;
  height:auto;
  img {
    width: 100%;
  }
}
/*journal-widget*/
.journal-widget {
  margin-bottom: 40px;
  padding: 0 20px !important;
  border-right: 1px solid #cfd5e4;
  a {
    color: black;
    text-decoration: none;
  }
  h4 {
    margin: 0;
    color: black;
    font-weight: 700;
  }
}
.journal-widget-text {
  padding: 12px 0 24px;
}
.journal-widget:last-of-type {
  border-right: none;
  border-right-width: initial;
  border-right-style: none;
  border-right-color: initial;
}
@media (max-width: 768px) {
  .journal-widget {
    border: none;
  }
   /*extend the image width to touch the border */
  .journal-widget-img {
    min-width: calc(100% + 40px) !important;
    margin-left: -20px;
  }

  .journal-widget-inner {
    border: 1px solid #cfd5e4;
    margin-bottom: 40px;
    padding: 0 20px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .journal-widget:nth-child(even) {
    /*--left and right padding-- padding-right: 0 !important; */
    border-right: none;
    border-right-width: initial;
    border-right-style: none;
    border-right-color: initial;
  }
  /*--left and right padding--.journal-widget:nth-child(odd) {
    padding-left: 0 !important;
  }*/
}
@media (min-width: 992px) {
  .journal-widget:nth-child(3n) {
    /*--left and right padding-- padding-right: 0 !important;*/
    border-right: none;
    border-right-width: initial;
    border-right-style: none;
    border-right-color: initial;
  }
  /*--left and right padding-- .journal-widget:nth-child(3n-2) {
    padding-left: 0 !important;
  }*/
}

/* each journal page */
.journal {
  h1 {
  margin-top: 0;
  font-size: 2em;
  }
  h2 {
    margin: 50px 0 0;
    font-weight: 700;
    font-size: 1.4em;
  }
  h4 {
    margin-bottom: 12px;
    font-size: 1em;
    
  }
  hr {
    margin-bottom: 2em;
    border-color: #3a3a3a;
  }
}
.journal-content {
  h3 {
    margin: 42px 0 21px;
  }
  p {
    margin: 0 0 21px; 
  }
  img {
    max-width: 100%;
    max-height: 400px;
  }
}



/*index page blocks*/
#who-we-are {
  background-color: #f3f3f3;
}

#join-us {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ),url('/assets/img/index/join.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/*make the background-image cover the block responsively*/
@media only screen and (max-width:954px) {  
  #join-us {
    background-size: auto 100%;
  }
}

#intro {
  background-color: rgb(208,0,0);
  color: white;
  font-size: 24px;
}

#history {
  background-color: #f3f3f3;
}

#ctep-mark {
  font-size: 45px;
  font-weight: 400;
  color: rgb(208,0,0);
}

#quote-block {
  background-color: rgb(208,0,0);
  color: white;
  font-size: 24px;
}

#comma {
  font-size: 300px;
  line-height: 0.5;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  top: 80px;
}

 #what-we-do {
   background-color: #f9f9f9;
 }

 #sponsors {
   background-color: #f9f9f9;

   font-size: 16px;
   font-weight: 300;
   color: #6A6A6A;
 }
.test{
  font-family:cursive;
  font-size:16px;
  color:blue;
}
