---
---
/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/
/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }
$flyoung_red: rgb(208, 0, 0);

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 1.75;
  
  /*sticky footer*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* footer ----------*/
footer {
  background-color: #f2f2f2;
  font-size: 14px;
  p {
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
    color: gray;
    a {
      text-decoration: none;
      color: gray;
    }
  }
  .fab {
    font-size: 1.5em;
  }
}
.content {
  flex: 1; /*sticky footer*/
}
/* text-----------------*/
h3 {
  font-weight: 400;
  margin-bottom: .3em;
}

h4 {
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
  color: gray;
}

a {color: $flyoung_red;}
a:hover {opacity: 0.7;}

@media only screen and (max-width: 767.98px) {
  .xl {
    font-size: 12vw;
  }
}

.light {
  color: black;
}

.dark {
  color: white;
  text-shadow: 0 2px 2px black;
}

.logo-sm {
  margin: 0.5rem 0;
  padding-left: 0;
  img {
    height: 26px;
  }
}

.logo-md {
  padding-left: 0;
  img {
    width: 50%;
  }
}

.copyright {
  text-align: center;
  color: gray;
  margin: 0;
  padding: 0 0 3em;
  font-weight: 300;
  font-size: .8em;
}

/*font font-awesome-4.7 icon */

.fa-facebook {
  color: #3B5998;
}

/*navigtion bar*/
header {
  background-color: white;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav {
  position: absolute;
  background-color: white;
  width: 100%;
  text-align: left;
  top: 100%;
  left: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: all 0.5s ease;
  [class*="logo-"] {
    a {
      vertical-align: -6px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 1em;
    margin-left: 1em;
    a {
      color: gray;
      text-decoration: none;
      font-size: 16px;
      opacity: 0;
      transition: opacity 120ms ease-in-out;
    }
  }

  .container {
      margin: 0 auto;
      padding-top: 0;
      padding-bottom: 0;
  }
}

@media only screen and (max-width: 767.98px) {
  nav {
    .container{
      padding: 0;
      li{
        margin: 0;
        border-bottom: 1px solid #eee;
        a{
          display: block;
          padding: 16px 32px;
        }
      }
    }
  }
}

.nav_white {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
  li {
    a {
      color: #515151 !important;
    }
    a:hover {color: black !important;}
  }
  transition: all 0.5s ease;
}

/* nav-toggle */
.nav-toggle {display: none;}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
  a{
    opacity: 1;
    transition: opacity 150ms ease-in-out 180ms;
  }
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

%nav-toggle-label-span {
  display: block;
  background: $flyoung_red;
  height: 2px;
  width: 1.6em;
  border-radius: 2px;
}

%nav-toggle-label-span-before_after {
  content: '';
  position: absolute;
}

.nav-toggle-label span {
  @extend %nav-toggle-label-span;
}

.nav-toggle-label span::before {
  @extend %nav-toggle-label-span;
  @extend %nav-toggle-label-span-before_after;
  top: 18px
}

.nav-toggle-label span::after {
  @extend %nav-toggle-label-span;
  @extend %nav-toggle-label-span-before_after;
  bottom: 18px;
}

@media only screen and (max-width: 767.98px) {
  nav {
    transition: transform 300ms ease-in-out;
    [class*="logo-"] {display: none;}
  }
}

@media only screen and (min-width: 768px) {
  .nav-toggle-label {display: none;}
  header > [class*="logo-"] {display: none;}
  nav {
    background-color: transparent;
    transform: scale(1, 1);
    .container {
      align-items: stretch;
      [class*="logo-"] {
        margin: 0;
        padding: 0.5rem;
      }
      ul {
        display: flex;
        text-decoration: none;
      }
      li {
        padding: 0;
        margin: 0 1rem;
        text-align: center;
        align-items: center;
        display: flex;
        position: relative;
        a {
          opacity: 1;
          color: white;
        }
        a:hover {color: #e5e5e5;}
        a::after {
          content: '';
          display: block;
          height: 5px;
          width: 0%;
          background-color: $flyoung_red;
          position: absolute;
          bottom: 0;
        }

        a:hover::after {
          width: 100%;
          transition: all ease-out 150ms;
        }
      }
    }
  }
}

/* container-------------------*/
.container {
  padding-top: 48px;
  align-items: center;
}

[class*="col-"], .col {
  margin-bottom: 1em;
}

.row {
  padding-bottom: 36px;
}

@media only screen and (min-width: 768px) {
  nav {
    .container {display: flex;}
  }
}

/* the block at the top of the page*/
.top-block {
  padding-top: 60px;
  padding-bottom: 60px;
}

.parallax {
  height: 100vh;
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
}

.vertical-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-baseline {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.horizontal-middle {
  text-align: center;
}

.horizontal-right {
  text-align: right;
}

.btn {
  font-family: 'Lato', 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 3px;
  padding: 18px;
  margin: 20px 0;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-color: #d00000;
}
.btn:hover {
  background-color: #ba0000;
  opacity: 1;
}

.link-underline {
  font-weight: 400;
  font-size: 1.2em;
  text-decoration: none;
  background-image: linear-gradient(#d00000 100%, #d00000 100%);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0;
  border-bottom: 2px solid #d00000;
  color: black;
  transition: background-size .100s ease-in;
}

.link-underline:hover {
  background-size: 100% 20%;
}

.full-width {
  width:100vw;
  margin-bottom:48px;
}
@media only screen and (max-width: 767.98px){
  .full-width {
    img{
      height: 50vh;
      width: auto;
    }
  }
}

.org-structure {
  max-width: 100%;
  max-height: 50vh;
}

.gallery {
  height: 100%;
  background-color: #d00000;
  background-clip: content-box; /*background a div without the padding area*/
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  a {
    display: block;
    height: 100%;
  }
  a:hover {
    opacity: 1;
  }
  img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: none;
  }
  /*description*/
  .desc {
    background-color: #d00000;
    color: white;
    padding: 0.75em;
    font-weight: 400;
  }
}
.gallery:hover {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.gallery-lg {
  margin: 0 16px;
  .row {
    padding: 0;
  }
  [class*="col-"], .col {
    padding: 0;
    margin: 0;
  }
  img {
    display: block;
  }
}

.floating-block {
  background-color: #f3f3f3;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.2);
}

.contact {
  [class*="fa-"] {
    margin-right: 16px;
    color: #d00000;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    color: #d00000;
  }
}

/*journal index page*/
.journal-img {
  /*width: calc(100% + 40px) !important;*/
  width:100%;
  height:auto;
}
/*journal-widget*/
.journal-widget {
  margin-bottom: 40px;
  padding: 0 22px !important;
  border-right: 1px solid #cfd5e4;
  a {
    color: black;
    text-decoration: none;
  }
  h4 {
    margin: 0;
    padding: 12px 0 0;
    color: black;
    font-weight: 700;
  }
}
.journal-widget:last-of-type {
  border-right: none;
  border-right-width: initial;
  border-right-style: none;
  border-right-color: initial;
}
@media (max-width: 768px) {
  .journal-widget {
    border: 1px solid #cfd5e4;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .journal-widget:nth-child(even) {
    padding-right: 0 !important;
    border-right: none;
    border-right-width: initial;
    border-right-style: none;
    border-right-color: initial;
  }
  .journal-widget:nth-child(odd) {
    padding-left: 0 !important;
  }
}
@media (min-width: 992px) {
  .journal-widget:nth-child(3n) {
    padding-right: 0 !important;
    border-right: none;
    border-right-width: initial;
    border-right-style: none;
    border-right-color: initial;
  }
  .journal-widget:nth-child(3n-2) {
    padding-left: 0 !important;
  }
}


#who-we-are {
  background-color: #f3f3f3;
}

#join-us {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ),url('/assets/img/index/join.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/*make the background-image cover the block responsively*/
@media only screen and (max-width:954px) {
  #join-us {
    background-size: auto 100%;
  }
}

#intro {
  background-color: rgb(208,0,0);
  color: white;
  font-size: 24px;
}

#history {
  background-color: #f3f3f3;
}

#cooperate {
  background-color: #f3f3f3;
}

#ctep-mark {
  font-size: 45px;
  font-weight: 400;
  color: rgb(208,0,0);
}

#quote-block {
  background-color: rgb(208,0,0);
  color: white;
  font-size: 24px;
}

#comma {
  font-size: 300px;
  line-height: 0.5;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  top: 80px;
}

 #what-we-do {
   background-color: #f9f9f9;
 }
