---
path: /events/tmu-international-volunteer-class
---
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

body {
  font-family: 'Roboto', 'Noto Sans TC script=all rev=1', 'Microsoft JhengHei', sans-serif !important;
  font-weight: 300;
}

.parallax {
  height: 100vh;
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
}

.vertical-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal-middle {
  text-align: center;
}

.horizontal-right {
  text-align: right;
}

.horizontal-left {
  text-align: left;
}

.container {
  padding-top: 48px;
  padding-bottom: 48px;
}

.dark {
  color: white;
  text-shadow: 0 2px 2px black;
}

.table {
  font-size: 16px;
}


#a {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ),url('{{ page.path }}/assets/img/headlice.jpg');
  height: 60vh;
}

#b {
  padding: 120px 0;
}

#c {
  background-color: #f0f0f2;
  .row {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  [class*="col-"], .col {
    margin-top: 21px;
    margin-bottom: 21px;
  }
  img {
    width: 100%;
    max-width: 300px;
  }
}

#course_info {
  background-color: #f0f0f2;
  ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
  }
}

#join-us {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ),url('{{ page.path }}/assets/img/join.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 120px 0;

}

/*make the background-image cover the block responsively*/
@media only screen and (max-width:954px) {
  #join-us {
    background-size: auto 100%;
  }
}

.organizer {
  background-color: #f2f2f2;
  
  h6 {
    margin-bottom: 24px;
  }
  .row {
    margin-bottom: 50px;
  }

  .col {
    margin: 12px auto;
  }

  img {
    max-height: 60px;
    max-width: 100%;
  }

  hr {
    width: 60%;
  }
}

#all-rights-reserved {
  margin: 50px auto;
  font-size: .6em;
}


.profile {
  padding-bottom: 28px;
  img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
  }
  h4 {
    margin: 30px 0 20px;
    color: #0070c9;
  }
  ul {
    padding-inline-start: 20px;
  }
}


@media only screen and (max-width: 767.98px) {
  .profile-pic {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .profile:nth-child(even) {
    padding-left: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .profile:nth-child(even) {
    padding-left: 60px;
  }
}