---
layout: default
---
<!--  intro block -->
<div class="vertical-middle top-block" id="intro">
    <div class="container">
    <div class="row">
        <div class="col">
        <div class="general-heading">
            <h2 class="general-heading_header">{{ page.full_title }}</h2>
        </div>
        </div>
    </div>
    </div>
</div>
<div class="vertical-middle">
    <div class="container">
    <div class="row">
        <div class="col">
        <h2 class="text heading-indented_header heading-indented_bar"><span>背景分析</span></h2>
        <h3>{{page.background}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2 class="text heading-indented_header heading-indented_bar"><span>目的</span></h2>
            <ol>
                {%- for purpose in page.purposes -%}
                <li>
                    <h3>{{purpose}}</h3>
                </li>
                {%- endfor -%}
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col">
        <h2 class="text heading-indented_header heading-indented_bar"><span>合作單位</span></h2>
        <ol>
          {%- for item in page.cooperate -%}
            <li>
              <h3>{{item}}</h3>
            </li>
          {%- endfor -%}
        </ol>

        </div>
    </div>

    <div class="row">
        <div class="col">
        <h2 class="text heading-indented_header heading-indented_bar"><span>執行地點</span></h2>
        <ol>
          {%- for place in page.places -%}
            <li>
              <h3>{{place}}</h3>
            </li>
          {%- endfor -%}
        </ol>
        </div>
    </div>

    <div class="row">
        <div class="col">
        <h2 class="text heading-indented_header heading-indented_bar"><span>專案對象</span></h2>
        <ol>
          {%- for subject in page.subjects -%}
						<li>
							<h3>{{subject}}</h3>
						</li>
         	{%- endfor -%}
        </ol>
        </div>
    </div>

    <div class="row">
        <div class="col">
        <h2 class="text heading-indented_header heading-indented_bar"><span>專案內容</span></h2>
				<ol>
					{%- for content in page.contents -%}
						<li>
							<h3>{{content}}</h3>
						</li>
         	{%- endfor -%}
				</ol>	
        </div>
    </div>

    <div class="row">
        <div class="col">
        <h2 class="text heading-indented_header heading-indented_bar"><span>活動紀錄</span></h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
        <a class="btn" href="{{ site.baseurl }}/projects/#飛洋歷屆專案">回到「飛洋歷屆專案」</a>
        </div>
    </div>

    </div>
</div>
